<!DOCTYPE html>
<html ng-app = "myApp">
<head>
	<title></title>
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
</head>
<body>
	<div ng-controller="userCtrl">
		email : <input type="text" ng-model="user.email">
		name : <input type="text" ng-model="user.name">
		<button ng-click="save()">Save</button>
	</div>
	<div ng-controller="userListCtrl">
		<div ng-repeat="user in users">
			{{user.email}}
		</div>
		<button ng-click="refresh()">
			Refresh
		</button>
	</div>
</body>
</html>