              <div class="w3-banner-head-info slideshow-container" style="display: none;">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="" style="" class="img-responsive">
</div>      
</div>
<div class="baner-product" ng-controller="about">
	
	   <div ng-include="'views/header.html'"></div>

		<div class="w3-banner-head-info">

				<div class="container">
																				<h3 class="heading-agileinfo-news">About Us
<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
<!-- About us -->
	<div class="about-3 container" >
<!-- 		<div class="container">
 -->			<div class="d-flex">
				
				<div class="about1 product"> 

	
					<p>With our firm belief in serving humanity, we aim to reach every nook and corner of the country, and provide High Quality Generic Medicines at ‘Real and Affordable’ prices. In StayHappi Stores, patients will have the power
to choose the right medicine and make a smart choice. Generic medicines are as
good as branded medicines and have similar dosage, intended use, effects, and side
effects, route of administration, risks, safety, and strength as the original drug.
In other words, their pharmacological effects are similar to those of their
branded counterparts. Generic medicines do not have to pay for expensive
advertising, marketing and promotion. They can be sold at their Real Price and
offer HIGH VALUE to patients, since their prices are substantially less as
compared to branded drugs.</p>
<P>
StayHappi Pharmacy has partnered with India’s leading pharmaceutical
manufacturing firms. Our partners manufacture about 15% of the Country’s total
medicinal consumption. They maintain the highest standards of quality, and their
facilities are regularly audited and approved for manufacturing by regulating
authorities like US FDA, WHO GMP, USNSF, NABL, PICS, ISO 9001-2008, and
ISO 14001-2015.</P>
<P>We have a central warehouse and a robust supply chain with a distribution network
across all States in India. Moreover, we aim to create employment opportunities for thousands of pharmacists and doctors, and business opportunities for
entrepreneurs.</p>

							</div>
				<div class="about2">
					
				</div>
			</div>
			
<!-- 		</div>
 -->	</div>
	<!-- //About us -->
	
	</div>
                             



  <div class="wthree-mid-about">
		<div class="container">
			<div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit">Trusted Quality: </h3>
			<p>  Our manufacturers are well-known for their Quality Standards and manufacture about 15% of India’s total consumption of medicines</p>
	       </div>


	       <div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit"> All India Presence: </h3>
			<p> We would scale up to 15,000 Retail Pharmacy Stores across the country
</p>
	       </div>


	       <div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit">High Value to Patients:</h3>
			<p>                  We provide quality medicines at affordable price, thus delivering high value to patients
 </p>
	       </div>
	   </div>
  </div>

<!-- //wthree-mid -->	

    <!-- footer -->
  <div ng-include="'views/footer.html'"></div>

