<!--/main-header-->
<div class="baner-product">
	
	<!--/banner-info-->
	  <div class="header">
		<div class="w3-agile-logo">
			<div class="container">
				<div class=" head-wl">
					<div class="headder-w3">
						<h1><a href="#"><img src="images/logo.png" class="img-responsive"/></a></h1>
					</div>

					<div class="w3-header-top-right-text">
						<!-- <h6 class="caption"> Contact Us</h6>
						<p>(111)+245 245 66</p> -->
					</div>

					<div class="email-right">
						<!-- <h6 class="caption">Email Us</h6>
						<p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

					</div>


					<div class="agileinfo-social-grids">
						<h6 class="caption">Toll Free Number</h6>
						<ul>
							<li><a href="#"><strong>+18000789000</strong></a></li>
							
						</ul>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
				
		</div>
	
        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
	
	<!-- //header -->
	<div class="container">
			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav pointer">

					  <li ><a ui-sref="home">Home</a></li>
                        <li class="active"><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Article</a></li>
                        <li><a   ui-sref="news">Updates</a></li>
                        <li><a   ui-sref="contact">Contact Us</a></li>
					</ul>
				</div>
			
			</div>
			<div class="clearfix"> </div>
			</nav>	
		</div>
	  </div>
		<div class="w3-banner-head-info">

				<div class="container-fluid">
																				<h3 class="heading-agileinfo-news">About Us
<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
<!-- About us -->
	<div class="about-3">
<!-- 		<div class="container">
 -->			<div class="d-flex">
				
				<div class="about1 product"> 

	
					<p>With our firm belief in serving humanity, we would scale up to 15,000 Retail
Pharmacy Stores across India, which will provide High Quality Generic Medicines
at ‘Real and Affordable’ prices. In StayHappi Stores, patients will have the power
to choose the right medicine and make a smart choice. Generic medicines are as
good as branded medicines and have similar dosage, intended use, effects, and side
effects, route of administration, risks, safety, and strength as the original drug.
In other words, their pharmacological effects are similar to those of their
branded counterparts. Generic medicines do not have to pay for expensive
advertising, marketing and promotion. They can be sold at their Real Price and
offer HIGH VALUE to patients, since their prices are substantially less as
compared to branded drugs.</p>
<P>
StayHappi Pharmacy has partnered with India’s leading pharmaceutical
manufacturing firms. Our partners manufacture about 15% of the Country’s total
medicinal consumption. They maintain the highest standards of quality, and their
facilities are regularly audited and approved for manufacturing by regulating
authorities like US FDA, WHO GMP, USNSF, NABL, PICS, ISO 9001-2008, and
ISO 14001-2015.</P>
<P>We have a central warehouse and a robust supply chain with a distribution network
across all States in India. Moreover, we aim to create employment opportunities for thousands of pharmacists and doctors, and business opportunities for
entrepreneurs.</p>

							</div>
				<div class="about2">
					
				</div>
			</div>
			
<!-- 		</div>
 -->	</div>
	<!-- //About us -->
	
	</div>
                             



  <div class="wthree-mid-about">
		<div class="container">
			<div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit">Trusted Quality: </h3>
			<p>  Our manufacturers are well-known for their Quality Standards and manufacture about 15% of India’s total consumption of medicines</p>
	       </div>


	       <div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit"> All India Presence: </h3>
			<p> We would scale up to 15,000 Retail Pharmacy Stores across the country
</p>
	       </div>


	       <div class="col-md-4 col-sm-12">
			<h3 class="heading-agileinfo-whit">High Value to Patients:</h3>
			<p>                  We provide quality medicines at affordable price, thus delivering high value to patients
 </p>
	       </div>
	   </div>
  </div>

<!-- //wthree-mid -->	


    <!-- footer -->
    <div class="footer_top_agileits">
        <div class=" container-fluid">
            <div class="col-md-3 footer_grid">
                            <div class="img-logo-footer"><img src="images/logo.png" class="img-responsive"></div>
                        
            </div>


            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Explore</h3>
                <ul class="footer_grid_list pointer">
                   
                     <li ><a  ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Article</a></li>
                        <li ><a   ui-sref="news">Updates</a></li>
                        <li><a   ui-sref="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Contact Us</h3>
                    <ul class="address">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>

Corporate Office :

<span>13 th Floor, Pearl Best Heights-1, Netaji Subhash Place, Pitampura, New Delhi - 110 034</span>

    <!-- <span>Management Office :</span>

    <span>Apple Tree No. 3540/1, 1st Floor, Second Cross, HAL Indira Nagar, Bangalore - 560008</span>
                             -->
</li>


                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>


                </ul>
            </div>

           <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/112529629485746569366 " target="_blank"><i class="fa fa-google-plus-square"></i></a></li>


                    <li><a href="https://www.linkedin.com/in/sarva-gunaushdhi-831988157/" target="_blank"><i class="fa fa-linkedin"></i></a></li>




                </ul> 
              <div class="sga-img">
                <img src="images/sga-logo.png" class="img-responsive">
                <p>An initiative by SarvaGunAushdhi Pvt. Ltd.</p>
               </div>
            </div>
            </div>  <div class="clearfix"> </div>
            
        </div>
    </div>
    <div class="footer_w3ls">
        <div class="container">
                    <div class="footer_bottom1">
                        <p>© 2018 stayhappi.in All rights reserved  <a href="#"></a></p>
                    </div>
        </div>
    </div>
    <!-- //footer -->