              <div class="w3-banner-head-info slideshow-container" style="display: none;">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="" style="" class="img-responsive">
</div>      
</div>

<div class="baner-product" ng-controller="details_article">
	
	

   <div ng-include="'views/header.html'"></div>




		<div class="w3-banner-head-info">
				<div class="container">
		

				</div>
       



		</div>
</div>
 <!--/banner-section-->
	<div class="agileits-about-top">

		<div class="container">

			<div class="col-md-9 col-sm-12">
											<h3 class="heading-agileinfo-deatils-heading">{{heading}}</h3>

			 <div class="col-sm-12 ">
				  	
                            <div class="details-banner">
                            	
                       <img src="admin/Local_FS/article/{{img}}" class="img-responsive">


                       <p ng-bind-html="description"></p>



                            </div>


				  </div>
		</div>

     <div class="col-md-3">
          <div class="latest">
            <div class="lates-post">Latest Post</div>


<div class="media" ng-repeat="y in content | limitTo:5 | orderBy:'+':true">
  <a ng-click="edit(y._id,y.Image,y.heading,y.subheading,y.description)">   <div class="media-left media-top">
      <img src="admin/Local_FS/article/{{y.Image}}" class="media-object" style="width:80px">
    </div>
    <div class="media-body">
      <p class="media-heading">{{y.heading | limitTo:30 }}....</p>
     
     
    </div></a>
  </div>
  <hr>





         </div>  

    </div>


		</div>
	</div>
	<!-- //about-top -->


  <div ng-include="'views/footer.html'"></div>