              <div class="w3-banner-head-info slideshow-container" style="display: none;">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="" style="" class="img-responsive">
</div>      
</div>


<div class="baner-product" ng-controller="article">
	
   <div ng-include="'views/header.html'"></div>



		<div class="w3-banner-head-info">

				<div class="container">
				<h3 class="heading-agileinfo-news">Articles <span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
	<div class="agileits-about-top">

		<div class="container">

			<div class="col-md-9">

			<div class="agileinfo-top-grids">
				<div class="col-sm-4 wthree-top-grid op" ng-repeat="x in content | filter:paginate">
				<a ng-click="edit(x._id,x.Image,x.heading,x.subheading,x.description)">	<img src="admin/Local_FS/article/{{x.Image}}" class="img-responsive image-grid image" alt="" />
                   <div class="overlay">
                       <div class="text"><i class="fa fa-plus-square"></i></div>
                   </div>
					<p data-dd-collapse-text="1">{{x.heading | limitTo:58 }} ....</p>
<!-- 					<p>Pellentesque auctor euismod lectus a pretium..</p>
 -->					</a>
				</div>
				
				<div class="col-sm-12">
                  <nav>
						<pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>
					</nav>
        </div>

				<div class="clearfix"> </div>
			</div>
			</div>
     <div class="col-md-3">
          <div class="latest">
            <div class="lates-post">Latest Post</div>

<div class="media" ng-repeat="y in content | limitTo:5 | orderBy:'+':true">
  <a ng-click="edit(y._id,y.Image,y.heading,y.subheading,y.description)">	  <div class="media-left media-top">
      <img src="admin/Local_FS/article/{{y.Image}}" class="media-object" style="width:80px">
    </div>
    <div class="media-body">
      <p class="media-heading">{{y.heading | limitTo:30 }}....</p>
     
     
    </div></a>
  </div>
  <hr>


         </div>  

    </div>


		</div>
	</div>
	<!-- //about-top -->

    <!-- footer -->
  <div ng-include="'views/footer.html'"></div>