<div class="baner-product" ng-controller="store">
	
	<!--/banner-info-->
	  <div class="header">
		<div class="w3-agile-logo">
			<div class="container">
				<div class=" head-wl">
					<div class="headder-w3">

						<h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
					</div>

					<div class="w3-header-top-right-text">
						<!-- <h6 class="caption"> Contact Us</h6>
						<p>(111)+245 245 66</p> -->
					</div>

					<div class="email-right">
						<!-- <h6 class="caption">Email Us</h6>
						<p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

					</div>


					<div class="agileinfo-social-grids">
						<h6 class="caption">Toll Free Number</h6>
						<ul>
							<li><a href="#"><strong>18002707755</strong></a></li>
							
						</ul>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
				
		</div>

        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
	
	<!-- //header -->
	<div class="container">
			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav pointer">

						 <li ><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>

<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li class="active"><a   ui-sref="contact">Contact Us</a></li>


					</ul>
				</div>
			
			</div>
			<div class="clearfix"> </div>
			</nav>	
		</div>
	  </div>
		<div class="w3-banner-head-info">
				<div class="container">
				   		<h3 class="heading-agileinfo-news">Contact Us<span></span></h3>



				</div>
       
		</div>
</div>
 <!--/banner-section-->
<div class="banner-bottom">
 <div class="container">		
  <div class="col-md-12 col-sm-12">
  <div class="col-sm-12 ">
   
	   <img src="images/foot-logo.png" class="img-responsive contact-logo">      
	    <p class="right_formp ">SarvaGunAushdhi Pvt. Ltd.</p>

	</div>
		
	<div class="inner_sec_info_agileits_w3 ">

	<div class="col-sm-12 col-md-4">

			  <div class="map-conatct">		    					    					


       <p><span style="    color: #151414;
    /* font-weight: bold; */
    font-size: 18px; ">Corporate Office : </span></p>

       <p>13 th Floor, Pearl Best Heights-1,<br> Netaji Subhash Place, Pitampura,<br> New Delhi - 110 034</p>



<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.895009574514!2d77.15009497249149!3d28.692787097380975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02339e21a38b%3A0xb04cfdefe38f1999!2sPearl+Best+Heights+1%2C+Lala+Jagat+Narayan+Marg%2C+Netaji+Subash+Place%2C+Pitampura%2C+Delhi%2C+110034!5e0!3m2!1sen!2sin!4v1522929927660"  frameborder="0"  width="100%" height="349"  allowfullscreen></iframe>

					    					    					    </div>
</div>	

<div class="col-sm-12 col-md-4">

						    					    					

<p class="right_formp text-center"></p>


<p><span style="color: #151414;
    /* font-weight: bold; */
    font-size: 18px;  ">Management Office :</span></p>

 <p>Apple Tree No. 3540/1, 1st Floor,<br> Second Cross, HAL Indira Nagar,<br> Bangalore - 560008</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.1159000521557!2d77.63809531540016!3d12.964434790860617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae141c9082ab71%3A0x473b4c72b1238152!2sApple+Tree+Residence!5e0!3m2!1sen!2sin!4v1523436296491" width="100%" height="349" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>

















				<div class="contact-form col-md-4 col-sm-12">
					<div class="alert alert-info"  ng-show="successMessage"><strong></strong><p style="padding: 10px; font-weight: 700;">{{successMessage}} </p></div>
					     <form  name="myForm" novalidate ng-submit=save(myForm) class="form">
							 <div class="">
					    	<div>
						    	<span><label>Name  <i style="color: red">*</i></label></span>
						    	<span><input name="name" ng-model="name" type="text" class="textbox" ng-required="true"></span>
<span style="color:red; font-size: 12px;" ng-show="myForm.name.$dirty && myForm.name.$invalid">Name is Required!</span>
						    </div>
						    <div>
						    	<span><label>E-mail <i style="color: red">*</i></label></span>
						  <span><input type="email" ng-model="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="textbox" ng-required="true"></span>
<span style="color:red;font-size: 12px; " ng-show="myForm.email.$dirty && myForm.email.$invalid">E-mail is Required!</span>

						    </div>
						    <div>
						     	<span><label>Phone  <i style="color: red">*</i></label></span>
						    	<span><input name="phone" ng-model="phone" type="text" class="textbox"  ng-required="true"></span>
<span style="color:red; font-size: 12px;" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">Phone is Required!</span>

						    </div>
								<div>					    	
									<span><label>Message  <i style="color: red">*</i></label></span>
									<span><textarea  ng-model="message" name="message" ng-required="true"> </textarea></span>
<span style="color:red; font-size: 12px;" ng-show="myForm.message.$dirty && myForm.message.$invalid">Message is Required!</span>

								</div>
							   <div>
									<span><input type="submit" ng-disabled="form.$invalid"   value="Submit" class="myButton"></span>
							  </div>
					    					    </div>

</form>
</div>

					    <div class="clearfix"></div>
						</form>
				  </div>
			</div>
		

		</div>
	</div>

</div>





<hr>


    <footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
                       <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                
                                <ul>

 <div class="footerp"> 
 	                               <img src="images/logo.png" class="img-responsive img-1">

                                
                               <img src="images/sga-logo2.png" class="img-responsive img-2">
                                </div>
                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Explore</h1>
                                
                                <ul>
 <li ><a  ui-sref="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a   ui-sref="aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                        <li><a   ui-sref="product"><i class="fa fa-angle-double-right"></i>Our Products</a></li>
                        <li><a   ui-sref="quality"><i class="fa fa-angle-double-right"></i>Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us"><i class="fa fa-angle-double-right"></i>Partner With Us</a></li>
                        <li><a   ui-sref="article"><i class="fa fa-angle-double-right"></i>Articles</a></li>




                               <!--  	<li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li> -->
                                </ul>
                    
							</li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
               
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <ul>

<ul class="address">
<li><i class="fa fa-map-marker" aria-hidden="true"></i>
Corporate Office :
<p>13 th Floor, Pearl Best <br>Heights-1, Netaji Subhash<br> PlacePitampura, New Delhi - 110 034</p>
</li>

 <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>

                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                        	<li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Social</h1>
                                
                               
                                
                                <div class="social-icons">
                                
                                	<ul class="nomargin">
                                    
                <a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
	            <a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>

	           <!--  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
	            <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                     -->
                                    </ul>
                                </div>
                    		</li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

	<div class="container">

		<div class="row">

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="copyright">

© 2018 stayhappi.in All rights reserved
				</div>

			</div>

			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

				<div class="design">
<!-- 
					 <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a> -->

				</div>

			</div>

		</div>

	</div>

</div>
    <!-- //footer 