<div class="baner-product" ng-controller="store">
	
	<!--/banner-info-->
	  <div class="header">
		<div class="w3-agile-logo">
			<div class="container">
				<div class=" head-wl">
					<div class="headder-w3">

						<h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
					</div>

					<div class="w3-header-top-right-text">
						<!-- <h6 class="caption"> Contact Us</h6>
						<p>(111)+245 245 66</p> -->
					</div>

					<div class="email-right">
						<!-- <h6 class="caption">Email Us</h6>
						<p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

					</div>


					<div class="agileinfo-social-grids">
						<h6 class="caption">Toll Free Number</h6>
						<ul>
							<li><a href="#"><strong>18002707755</strong></a></li>
							
						</ul>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
				
		</div>

        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
	
	<!-- //header -->
	<div class="container">
			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav pointer">

						 <li ><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li class="active"><a   ui-sref="contact">Contact Us</a></li>


					</ul>
				</div>
			
			</div>
			<div class="clearfix"> </div>
			</nav>	
		</div>
	  </div>
		<div class="w3-banner-head-info">
				<div class="container-fluid">
				   																				<h3 class="heading-agileinfo-news">Contact Us<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->

	<div class="banner-bottom">
		<div class="container">
			<div class="inner_sec_info_agileits_w3">
<!--               <h3 class="heading-agileinfo">Contact Us<span></span></h3>
 -->				<!---728x90-->
				<div class="contact-form">
					     <form >
							 <div class="left_form">
					    	<div>
						    	<span><label>Name</label></span>
						    	<span><input name="name" ng-model="name" type="text" class="textbox" required=""></span>
						    </div>
						    <div>
						    	<span><label>E-mail</label></span>
						    	<span><input name="email" ng-model="email" type="text" class="textbox" required=""></span>
						    </div>
						    <div>
						     	<span><label>Phone</label></span>
						    	<span><input name="phone" ng-model="phone" type="text" class="textbox" required=""></span>
						    </div>
								<div>					    	
									<span><label>Message</label></span>
									<span><textarea  ng-model="message" name="message" required=""> </textarea></span>
								</div>
							   <div>
									<span><input type="submit" ng-click="save()" value="Submit" class="myButton"></span>
							  </div>
					    					    </div>


					    					    					    <div class="right_form">
	<p><div class="contact-logo">
	   <img src="images/foot-logo.png" class="img-responsive ">
	</div></p>
						    					    					

						    					    					    	<p class="right_formp text-center">SarvaGunAushdhi Pvt. Ltd.</p>

<p><span style="color: #f68121; font-weight: bold;">Corporate Office : </span></p>

<p>13 th Floor, Pearl Best Heights-1, Netaji Subhash Place, Pitampura, New Delhi - 110 034</p>

<p><span style="color: #f68121; font-weight: bold;">Management Office :</span></p>

 <p>Apple Tree No. 3540/1, 1st Floor, Second Cross, HAL Indira Nagar, Bangalore - 560008</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3499.895009574514!2d77.15009497249149!3d28.692787097380975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d02339e21a38b%3A0xb04cfdefe38f1999!2sPearl+Best+Heights+1%2C+Lala+Jagat+Narayan+Marg%2C+Netaji+Subash+Place%2C+Pitampura%2C+Delhi%2C+110034!5e0!3m2!1sen!2sin!4v1522929927660"  frameborder="0" style="     width: 100%;
    height: 249px;
    margin-top: 15px" allowfullscreen></iframe>

					    					    					    </div>


					    <div class="clearfix"></div>
						</form>
				  </div>
			</div>
		

		</div>
	</div>

 <div class="container-fluid">
	<div class="col-sm-12">
				


</div>		

</div> 		
 <div class="">

		<div class="container">

			<div class="col-sm-12">

			<div class="agileinfo-top-grids">
<!-- 
				<div class="col-sm-4 wthree-top-grid " >
				<img src="images/g1.jpg" class="img-responsive image-grid image" alt="" />
                   <div class="overlay-contact">
                       <div class="text"> <i class="fa fa-plus-square"></i>  </div>
                   </div>
		<h4>Delhi Kolaholi  <span class="span-direction"><i class="fa fa-map-marker" aria-hidden="true"></i>
          Direction </span> </h4>	
         </div> -->

<section class="c-card col-sm-4" ng-repeat="x in content | filter:paginate">
 <div class="c-card__img">
    <img src="admin/Local_FS/store/{{x.Image}}" class="img-responsive">
  </div>
  <div class="c-card__texts">
   
    <hr>
    <div class="p-40" style="        overflow: auto;

">
      <ul >
        <li class="service ">


          <span class="service__headline"><i class="fa fa-map-marker"></i>
      {{x.address}} <br>
      {{x.re_address}}
  </span>
          </li>
        <li class="service">
          <span class="service__headline"><i class="fa fa-envelope"></i>
   {{x.email}}</span>
        </li>
        <li class="service">
          <span class="service__headline"><i class="fa fa-phone-square"></i>   {{x.phone}}

</span>
        </li>
   



   <li class="service class-active">
          <span class="service__headline">  
 <a href="{{x.location}}" target="_blank"><button type="button" class="btn btn-warning" style=" margin: 0px 85px;"><i class="fa fa-map-marker"></i> View Direction</button></a>

</span>
        </li>

</ul>

</span>
        </li>
      </ul>
    </div>
  </div>
</section>
			

				<div class="col-sm-12">
                  <nav ng-show="content.length!=0">
						
<pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>

					</nav>
             </div> 

			 <div class="clearfix"> </div>
			</div>
			</div>


</div>








<hr>

    <!-- footer -->
    <div class="footer_top_agileits">
        <div class=" container-fluid">
            <div class="col-md-3 footer_grid">
                            <div class="img-logo-footer"><img src="images/logo.png" class="img-responsive"></div>
                        
            </div>


            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Explore</h3>
                <ul class="footer_grid_list pointer">
                   
                     <li ><a  ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
<!--                         <li ><a   ui-sref="news">Updates</a></li>
 -->                        <li><a   ui-sref="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Contact Us</h3>
                    <ul class="address">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>

Corporate Office :

<span>13 th Floor, Pearl Best Heights-1, Netaji Subhash Place, Pitampura, New Delhi - 110 034</span>

    <!-- <span>Management Office :</span>

    <span>Apple Tree No. 3540/1, 1st Floor, Second Cross, HAL Indira Nagar, Bangalore - 560008</span>
                             -->
</li>


                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>


                </ul>
            </div>

           <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="https://plus.google.com/112529629485746569366 " target="_blank"><i class="fa fa-google-plus-square"></i></a></li>


                    <li><a href="https://www.linkedin.com/in/sarva-gunaushdhi-831988157/" target="_blank"><i class="fa fa-linkedin"></i></a></li> -->




                </ul> 
              <div class="sga-img">
                <img src="images/sga-logo.png" class="img-responsive">
                <p>An initiative by SarvaGunAushdhi Pvt. Ltd.</p>
               </div>
            </div>
            <div class="clearfix"> </div>
            
        </div>
    </div>
    <div class="footer_w3ls">
        <div class="container">
                    <div class="footer_bottom1">
                        <p>© 2018 stayhappi.in All rights reserved  <a href="#"></a></p>
                    </div>
        </div>
    </div>
    <!-- //footer 