<div class="baner-product" ng-controller="details">
	 <div ng-include="'views/header.html'"></div>
 
		<div class="w3-banner-head-info">
				<div class="container">
				   <div class="banner-text">
						<!-- <h2>Take Care of Your Nails
                         <span>Paint Them Color Awesome!</span></h2>
					 -->
					</div>


				</div>
       



		</div>
</div>
 <!--/banner-section-->
	<div class="agileits-about-top">

		<div class="container">

			<div class="col-md-9 col-sm-12">
											<h3 class="heading-agileinfo-deatils-heading">{{heading}}</h3>

			 <div class="col-sm-12 ">
				  	
                            <div class="details-banner">
                            	
                       <img src="admin/Local_FS/news/{{img}}" class="img-responsive">



                       <p ng-bind-html="description"></p>


                            </div>


				  </div>
		</div>

     <div class="col-md-3">
          <div class="latest">
            <div class="lates-post">Latest Post</div>


  <div class="media" ng-repeat="y in content | limitTo:5 | orderBy:'+':true">
  <a ng-click="edit(y._id,y.Image,y.heading,y.subheading,y.description)">	  <div class="media-left media-top">
      <img src="admin/Local_FS/news/{{y.Image}}" class="media-object" style="width:80px">
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{y.heading}}</h4>
      <p>{{y.subheading}}</p>
     
    </div></a>
  </div>
  <hr>





         </div>  

    </div>


		</div>
	</div>
	<!-- //about-top -->


    <!-- footer -->
  
<div ng-include="'views/footer.html'"></div>