
<div  >
    <div class="demo-inner-content">

    <!--/banner-info-->
      <div class="header">
        <div class="w3-agile-logo">
            <div class="container">
                <div class=" head-wl">
                    <div class="headder-w3">
                        <h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
                    </div>

                    <div class="w3-header-top-right-text">
                        <!-- <h6 class="caption"> Contact Us</h6>
                        <p>(111)+245 245 66</p> -->
                    </div>

                    <div class="email-right">
                        <!-- <h6 class="caption">Email Us</h6>
                        <p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

                    </div>


                    <div class="agileinfo-social-grids">
                        <h6 class="caption">Toll Free Number</h6>
                        <ul>
                            <li><a href="#"><strong>18002707755</strong></a></li>
                            
                        </ul>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
                
        </div>
    


        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
    
    <!-- //header -->
    <div class="container">
            <div class="navbar-header" >
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>

                <div id="navbar" class="navbar-collapse collapse">
                   <ul class="nav navbar-nav pointer">

                         <li class="active"><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
                                                

<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li ><a   ui-sref="contact">Contact Us</a></li>


                    </ul>
                </div>
            
            </div>
            <div class="clearfix"> </div>
            </nav>  
        </div>
      </div>
        <div class="w3-banner-head-info slideshow-container">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_1.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_2.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_3.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_4.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_5.png" style="" class="img-responsive">


</div>
       



        </div>



            <!--/banner-info-->

<div class="banner-text-2">
                        <h2>Quality Medicines at Affordable Price</h2>
                    
</div>



    </div>




</div>

             

 <!--/banner-section-->
 <!---728x90--->
 <!-- About us -->
    <div class="about-3 container">
<!--        <div class="container">
 -->            <div class="d-flex">
                
                <div class="about1"> 

                        <h3 class="heading-agileinfo" style="    text-transform: uppercase;
">About Us<span></span></h3>
    
                    <p>StayHappi Pharmacy is a nationwide retail pharmacy chain that provides high
quality generic medicines at truly affordable prices. Our products are sold at Real
Prices and offer HIGH VALUE to patients, since prices are substantially lower as
compared to the branded drugs.</p>

                    <a class="join-wthree" href="about.html" ui-sref="aboutus">Read More
                        <!-- <i class="fa fa-hand-o-right" aria-hidden="true"></i> -->
                    </a>
                </div>
                <div class="about2">
                    
                </div>
            </div>
            
<!--        </div>
 -->    </div>
    <!-- //About us -->
    <!---728x90--->
    <!-- wthree-mid -->
    <div class="wthree-mid">
        <div class="container">
            <h3 class="heading-agileinfo-whit">Supporting ‘Make in India’ Drive:</h3>
            <p>In consonance with the Prime Minister’s vision, StayHappi is a nationwide chain of
retail pharmacies to support ‘Make in India’ drive with quality medicines and other
healthcare products at realistic prices.</p><p>
The current universe is dominated by brands where Marketing Companies expend
exorbitant amounts of resources to drive demand of particular brands, and
patients get these medicines at very high prices. StayHappi Pharmacies will fulfill
the Government’s aspiration to implement the Uniform Code of Pharmaceuticals
Marketing Practices (UCPMP) without any efforts or legislative compulsion with
respect to availability of high quality medicines.</p>
           
            <!-- <div class="botton">
                <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">Read More
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    </a>
            </div>
 -->        </div>
    </div>
<!-- //wthree-mid -->
<!---728x90-->
    
    <div class="capsuls">

        <div class="container">
            <div class="col-sm-6">
                
<img src="images/capsul.png" class="img-responsive">

            </div>

        <div class="col-sm-6">
                
                <div  class="capusls-content">
                    <h3 class="heading-agileinfo">Quality Healthcare for All                       <span></span>
</h3>
<p>Medicines are sold primarily as branded drugs in almost every therapeutic segment,
at prices which are reasonable according to global standards, but still very high as
per the Indian scenario. 75% of Indian population survives on a monthly income of
Rs 5,000 and expensive medicines are a big burden on their pockets every month.

Branded products involve unnecessary costs like promotional material, gifts,
freebies, working expenditure on huge field force, training costs, etc., which result
in an increased cost of medicines to the consumers. </p><!-- <p> A
large chunk of our country’s population has a tough time fulfilling the basic
necessities of life, such as food, shelter and water. Therefore, access to Generic
medicines with Certified High Quality at Real Price is critical to ensure affordable
and quality healthcare in India.

</p> -->

<p>When it comes to saving lives and making people healthier, what matters is the
quality of the medicine and access to this medicine. This is why we provide
medicines with only Generic Names and not Brand Names. We wish to be the
torchbearers of this ‘Revolution’ in the field of Retail Pharmacies and make ‘Health
for all’ a reality by enabling Indians lead healthier and happier lives.</p>

<p>
The StayHappi brand - as the name suggests, it’s about a wish we have, to see
everyone around happy and healthy.</p>

                   
                </div>


            </div>



        </div>
        





    </div>

<!-- div class="services-ou">

<div class="">
    <div class="col-sm-6 blue" >
        <img src="images/3.svg"  class="icon-svg">
        
                <h4>High quality medicines at 40-90% reduced prices as compared to Branded Medicines.</h4>


    </div>
    
<div class="col-sm-6 oreng">
            <img src="images/2.svg"  class="icon-svg">

        <h4> Software and mobile application for Business Partners and Customers
.</h4>
        
    </div>

<div class="col-sm-6 green">
            <img src="images/4.svg"  class="icon-svg">

                <h4>Quality Accreditations: US-FDA, US-NSF, NABL, WHO-GMP, ISO 9001:2008, ISO 14001:2004.</h4>

        
    </div>

<div class="col-sm-6 light-blue">
            <img src="images/1.svg"  class="icon-svg">

                <h4>Regular availability and optimum margins to Partners.</h4>

        
    </div>
</div>


</div>
 -->


























                <!-- pricing -->
    <div class="w3ls-section wthree-pricing">   
        <div class="container ">

              <div class="col-sm-12">
         <div class="col-sm-6 led-blue led">

                                                                    <img src="images/led-4.png" class="img-responsive">

                <h4>High quality medicines at 40-90% reduced prices as compared to Branded Medicines</h4>


         </div>
         
 <div class="col-sm-6 led-or led">
                    <img src="images/led-1.png" class="img-responsive">


        <h4> Software and mobile application for Business Partners and Customers
</h4>
        

         </div>
 <div class="col-sm-6 led-green led">
                             <img src="images/led-2.png" class="img-responsive">

                <h4>Quality Accreditations: US-FDA, US-NSF, NABL, WHO-GMP, ISO 9001:2008, ISO 14001:2004</h4>


         </div>
          <div class="col-sm-6 led-light led">
                                          <img src="images/led-3.png" class="img-responsive">

                <h4>Regular availability and optimum margins to Partners</h4>


         </div>
  </div>





                      <div class="col-sm-12 product-seghment">  <h3 class="heading-agileinfo hed-led">Product Segments<span></span></h3><br><br><br></div>

            <div class="pricing-grids-info">

                                <div class="pricing-grid grid-one">
                                    <div class="w3ls-top">
                                        <h3>allopathic<br> Medicines</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                              <img src="images/img1.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                    </ul>
                                    
                                        
                                    </div>
                                </div>
                                <div class="pricing-grid grid-two">
                                    <div class="w3ls-top">
                                        <h3>Ayurvedic, Herbal medicines and Nutraceuticals</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                                                                          <img src="images/img2.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                        </ul>
                        
                                        
                                    </div>
                                </div>
                                <div class="pricing-grid grid-three">
                                    <div class="w3ls-top">
                                        <h3>OTC, Consumables and Cosmetics</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                                                                          <img src="images/img3.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                        </ul>
                            
                                    </div>
                                </div>
                                <div class="zb pricing-grid grid-four">
                                    <div class="w3ls-top">
                                        <h3>Surgical items and medical devices</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                              <img src="images/img4.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 


                                        </ul>
                        
                                    </div>
                                </div>
                    
                <!--End-slider-script-->
            </div>
        </div>  
    </div>  
    <!--//pricing-->    

                <!-- Clients -->

<!-- Subscribe -->
    <div class="wthree-subscribef-w3ls" ng-controller="home">
        <div class="container">
                        <p class="alert alert-danger"  ng-show="successMessage" style="padding: 10px;  "><strong>{{successMessage}} </strong></p>


                    <h3 class="heading-agileinfo">Partner With Us              
                        <span></span></h3>
            <div class="">

                         <form  name="myForm" novalidate ng-submit="save1(myForm)" class="form">
                    <div class="textbox-item">
                    <div class="col-md-6 col-sm-12">
                    <input type="text" name="phone" ng-model="phone" class="form-control" placeholder="Contact Number..." ng-required="true">
                    <span style="color:red; font-size: 12px;" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">Phone Number is Required!</span>

                </div>
                    <div class="col-md-6  col-sm-12">
                    <input type="email" name="email" ng-model="email" class="form-control" placeholder="Email address..." pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" class="textbox" ng-required="true">
                    <span style="color:red;font-size: 12px; " ng-show="myForm.email.$dirty && myForm.email.$invalid">E-mail is Required!</span>

                </div>
            </div><br>
        <br>
        <br>
                <div class="col-sm-12">

                    <input type="submit" style=""   class="form-control submit-footer" value="Submit">
                </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <!--// Subscribe -->

    <footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
                       <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                
                                <ul>

 <div class="footerp"> 
                                   <img src="images/logo.png" class="img-responsive img-1">

                                
                               <img src="images/sga-logo2.png" class="img-responsive img-2">
                                </div>
                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Explore</h1>
                                
                                <ul>
 <li ><a  ui-sref="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a   ui-sref="aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                        <li><a   ui-sref="product"><i class="fa fa-angle-double-right"></i>Our Products</a></li>
                        <li><a   ui-sref="quality"><i class="fa fa-angle-double-right"></i>Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us"><i class="fa fa-angle-double-right"></i>Partner With Us</a></li>
                        <li><a   ui-sref="article"><i class="fa fa-angle-double-right"></i>Articles</a></li>




                               <!--     <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li> -->
                                </ul>
                    
                            </li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
               
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <ul>

<ul class="address">
<li><i class="fa fa-map-marker" aria-hidden="true"></i>
Corporate Office :
<p>13 th Floor, Pearl Best <br>Heights-1, Netaji Subhash<br> PlacePitampura, New Delhi - 110 034</p>
</li>

 <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>

                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Social</h1>
                                
                               
                                
                                <div class="social-icons">
                                
                                    <ul class="nomargin">
                                    
                <a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
                <a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>

               <!--  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                     -->
                                    </ul>
                                </div>
                            </li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="copyright">

© 2018 stayhappi.in All rights reserved
                </div>

            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <div class="design">
<!-- 
                     <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a> -->

                </div>

            </div>

        </div>

    </div>

</div>
    <!-- //footer--> 
   <script type="text/javascript">
        
        $(document).ready(function(){
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  


    setTimeout(carousel, 9000);    
}
});
    </script>