
<div  ng-controller="MainCtrl">
    <div class="demo-inner-content">

    <!--/banner-info-->
      <div class="header">
        <div class="w3-agile-logo">
            <div class="container">
                <div class=" head-wl">
                    <div class="headder-w3">
                        <h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
                    </div>

                    <div class="w3-header-top-right-text">
                        <!-- <h6 class="caption"> Contact Us</h6>
                        <p>(111)+245 245 66</p> -->
                    </div>

                    <div class="email-right">
                        <!-- <h6 class="caption">Email Us</h6>
                        <p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

                    </div>


                    <div class="agileinfo-social-grids">
                        <h6 class="caption">Toll Free Number</h6>
                        <ul>
                            <li><a href="#"><strong>18002707755</strong></a></li>
                            
                        </ul>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
                
        </div>
    


        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
    
    <!-- //header -->
    <div class="container">
            <div class="navbar-header" >
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav pointer">

                    
                    <li class="active"><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li><a   ui-sref="contact">Contact Us</a></li>
                    </ul>
                </div>
            
            </div>
            <div class="clearfix"> </div>
            </nav>  
        </div>
      </div>
        <div class="w3-banner-head-info slideshow-container">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_1.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_2.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_3.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_4.png" style="" class="img-responsive">
<img class="mySlides w3-animate-fading slid-img-custom" src="images/s_5.png" style="" class="img-responsive">


</div>
       



        </div>



            <!--/banner-info-->

<div class="banner-text-2">
                        <h2>Quality Medicines at Affordable Price</h2>
                    
</div>



    </div>




</div>

             

 <!--/banner-section-->
 <!---728x90--->
 <!-- About us -->
    <div class="about-3">
<!--        <div class="container">
 -->            <div class="d-flex">
                
                <div class="about1"> 

                        <h3 class="heading-agileinfo" style="    text-transform: uppercase;
">About Us<span></span></h3>
    
                    <p>StayHappi Pharmacy is a nationwide retail pharmacy chain that provides high
quality generic medicines at truly affordable prices. Our products are sold at Real
Prices and offer HIGH VALUE to patients, since prices are substantially lower as
compared to the branded drugs.</p>

                    <a class="join-wthree" href="about.html" ui-sref="aboutus">Read More
                        <!-- <i class="fa fa-hand-o-right" aria-hidden="true"></i> -->
                    </a>
                </div>
                <div class="about2">
                    
                </div>
            </div>
            
<!--        </div>
 -->    </div>
    <!-- //About us -->
    <!---728x90--->
    <!-- wthree-mid -->
    <div class="wthree-mid">
        <div class="container">
            <h3 class="heading-agileinfo-whit">Supporting ‘Make in India’ Drive:</h3>
            <p>In consonance with the Prime Minister’s vision, StayHappi is a nationwide chain of
retail pharmacies to support ‘Make in India’ drive with quality medicines and other
healthcare products at realistic prices.</p><p>
The current universe is dominated by brands where Marketing Companies expend
exorbitant amounts of resources to drive demand of particular brands, and
patients get these medicines at very high prices. StayHappi Pharmacies will fulfill
the Government’s aspiration to implement the Uniform Code of Pharmaceuticals
Marketing Practices (UCPMP) without any efforts or legislative compulsion with
respect to availability of high quality medicines.</p>
           
            <!-- <div class="botton">
                <a class="join-wthree" href="#" data-toggle="modal" data-target="#myModal">Read More
                        <i class="fa fa-hand-o-right" aria-hidden="true"></i>
                    </a>
            </div>
 -->        </div>
    </div>
<!-- //wthree-mid -->
<!---728x90-->
    
    <div class="capsuls">

        <div class="container-fluid">
            <div class="col-sm-6">
                
<img src="images/capsul.png" class="img-responsive">

            </div>

        <div class="col-sm-6">
                
                <div  class="capusls-content">
                    <h3 class="heading-agileinfo">Quality Healthcare for All                       <span></span>
</h3>
<p>Medicines are sold primarily as branded drugs in almost every therapeutic segment,
at prices which are reasonable according to global standards, but still very high as
per the Indian scenario. 75% of Indian population survives on a monthly income of
Rs 5,000 and expensive medicines are a big burden on their pockets every month.

Branded products involve unnecessary costs like promotional material, gifts,
freebies, working expenditure on huge field force, training costs, etc., which result
in an increased cost of medicines to the consumers. </p><!-- <p> A
large chunk of our country’s population has a tough time fulfilling the basic
necessities of life, such as food, shelter and water. Therefore, access to Generic
medicines with Certified High Quality at Real Price is critical to ensure affordable
and quality healthcare in India.

</p> -->

<p>When it comes to saving lives and making people healthier, what matters is the
quality of the medicine and access to this medicine. This is why we provide
medicines with only Generic Names and not Brand Names. We wish to be the
torchbearers of this ‘Revolution’ in the field of Retail Pharmacies and make ‘Health
for all’ a reality by enabling Indians lead healthier and happier lives.</p>

<p>
The StayHappi brand - as the name suggests, it’s about a wish we have, to see
everyone around happy and healthy.</p>

                   
                </div>


            </div>



        </div>
        





    </div>

<!-- div class="services-ou">

<div class="">
    <div class="col-sm-6 blue" >
        <img src="images/3.svg"  class="icon-svg">
        
                <h4>High quality medicines at 40-90% reduced prices as compared to Branded Medicines.</h4>


    </div>
    
<div class="col-sm-6 oreng">
            <img src="images/2.svg"  class="icon-svg">

        <h4> Software and mobile application for Business Partners and Customers
.</h4>
        
    </div>

<div class="col-sm-6 green">
            <img src="images/4.svg"  class="icon-svg">

                <h4>Quality Accreditations: US-FDA, US-NSF, NABL, WHO-GMP, ISO 9001:2008, ISO 14001:2004.</h4>

        
    </div>

<div class="col-sm-6 light-blue">
            <img src="images/1.svg"  class="icon-svg">

                <h4>Regular availability and optimum margins to Partners.</h4>

        
    </div>
</div>


</div>
 -->


























                <!-- pricing -->
    <div class="w3ls-section wthree-pricing">   
        <div class="container ">

              <div class="col-sm-12">
         <div class="col-sm-6 led-blue led">

                                                                    <img src="images/led-4.png" class="img-responsive">

                <h4>High quality medicines at 40-90% reduced prices as compared to Branded Medicines</h4>


         </div>
         
 <div class="col-sm-6 led-or led">
                    <img src="images/led-1.png" class="img-responsive">


        <h4> Software and mobile application for Business Partners and Customers
</h4>
        

         </div>
 <div class="col-sm-6 led-green led">
                             <img src="images/led-2.png" class="img-responsive">

                <h4>Quality Accreditations: US-FDA, US-NSF, NABL, WHO-GMP, ISO 9001:2008, ISO 14001:2004</h4>


         </div>
          <div class="col-sm-6 led-light led">
                                          <img src="images/led-3.png" class="img-responsive">

                <h4>Regular availability and optimum margins to Partners</h4>


         </div>
  </div>





                      <div class="col-sm-12 product-seghment">  <h3 class="heading-agileinfo hed-led">Product Segments<span></span></h3><br><br><br></div>

            <div class="pricing-grids-info">

                                <div class="pricing-grid grid-one">
                                    <div class="w3ls-top">
                                        <h3>allopathic<br> Medicines</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                              <img src="images/img1.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                    </ul>
                                    
                                        
                                    </div>
                                </div>
                                <div class="pricing-grid grid-two">
                                    <div class="w3ls-top">
                                        <h3>Ayurvedic, Herbal medicines and Nutraceuticals</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                                                                          <img src="images/img2.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                        </ul>
                        
                                        
                                    </div>
                                </div>
                                <div class="pricing-grid grid-three">
                                    <div class="w3ls-top">
                                        <h3>OTC, Consumables and Cosmetics</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                                                                          <img src="images/img3.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 

                                        </ul>
                            
                                    </div>
                                </div>
                                <div class="zb pricing-grid grid-four">
                                    <div class="w3ls-top">
                                        <h3>Surgical items and medical devices</h3> 
                                    </div>
                                    <div class="w3ls-bottom">
                                        <ul class="count">
                                              <img src="images/img4.png" class="img-circle" alt="Cinque Terre" width="304" height="236"> 


                                        </ul>
                        
                                    </div>
                                </div>
                    
                <!--End-slider-script-->
            </div>
        </div>  
    </div>  
    <!--//pricing-->    

                <!-- Clients -->



    <!-- footer -->
    <div class="footer_top_agileits">
        <div class=" container-fluid">
            <div class="col-md-3 footer_grid">
                            <div class="img-logo-footer"><img src="images/logo.png" class="img-responsive"></div>
                        
            </div>


            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Explore</h3>
                <ul class="footer_grid_list pointer">
                   
                     <li ><a  ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
<!--                         <li ><a   ui-sref="news">Updates</a></li>
 -->                        <li><a   ui-sref="contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Contact Us</h3>
                    <ul class="address">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i>

Corporate Office :

<span>13 th Floor, Pearl Best Heights-1, Netaji Subhash Place, Pitampura, New Delhi - 110 034</span>

    <!-- <span>Management Office :</span>

    <span>Apple Tree No. 3540/1, 1st Floor, Second Cross, HAL Indira Nagar, Bangalore - 560008</span>
                             -->
</li>


                    <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
                    <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>


                </ul>
            </div>

            <div class="col-md-3 col-sm-12 footer_grid ad">
                <h3>Social</h3>
                <ul class="social">
                    <li><a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                    <!-- <li><a href="https://plus.google.com/112529629485746569366 " target="_blank"><i class="fa fa-google-plus-square"></i></a></li>


                    <li><a href="https://www.linkedin.com/in/sarva-gunaushdhi-831988157/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
 -->



                </ul> 
              <div class="sga-img">
                <img src="images/sga-logo.png" class="img-responsive">
                <p>An initiative by SarvaGunAushdhi Pvt. Ltd.</p>
               </div>
            </div>
            <div class="clearfix"> </div>
            
        </div>
    </div>
    <div class="footer_w3ls">
        <div class="container">
                    <div class="footer_bottom1">
                        <p>© 2018 stayhappi.in All rights reserved  <a href="#"></a></p>
                    </div>
        </div>
    </div>
    <!-- //footer -->
   <script type="text/javascript">
        
        $(document).ready(function(){
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";  
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}    
    x[myIndex-1].style.display = "block";  


    setTimeout(carousel, 9000);    
}
});
    </script>