              <div class="w3-banner-head-info slideshow-container" style="display: none;">
             <div class="" style="display: block;" >
<img class="mySlides w3-animate-fading slid-img-custom" src="" style="" class="img-responsive">
</div>      
</div>
<div class="baner-product" ng-controller="partner">

	<div ng-include="'views/header.html'"></div>

		<div class="w3-banner-head-info">

				<div class="container">
																				<h3 class="heading-agileinfo-news">Partner with Us
<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
<!-- About us -->
	<div class="container">
<!-- 		<div class="container">
 -->			<div class="">
				<div class=" product col-sm-12" > 

	             <img src="images/partner.png" class="img-responsive img-adjust">

				</div>
				<div class=" product col-sm-12"> 

	
					<p>Partner with us in our mission of providing exponentially increased access to medicines for everyone. Getting there will take nothing short of a revolution.

The revolution has already begun humbly and silently, it’s perhaps a once in a lifetime opportunity to make a difference to your society and nation. An opportunity to etch your name in history, to be recognized for the good you bring to people of our great nation. Ours is a large country with a huge population, with diverse and continuous needs. We see an opportunity to serve people relentlessly, and wish that you support us by becoming our partners. Your time may have arrived, to be seen as giving back to the nation what you’ve drawn from it. Good deeds bring good wishes and in this case good wishes of millions.

To join us in our ambition to serve the country, please fill in the required details in the forms below:</p>



							</div>
				
			</div>
			
<!-- 		</div>
 -->	</div>
	<!-- //About us -->
	
	</div>
 <div class="w3ls-section wthree-partner">	
		<div class="container">
					  <div class="col-sm-12 "> 	

			<div class="pricing-grids-info">

								<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Sub franchisee / Retail outlets </h3> 
									</div>
									<div class=" partener-icon">

									<a href="pdf/Retailer Application Form 1.docx" target="_blank"><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button> </a>                                 </div>
								</div>
								<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Development partners</h3> 
									</div>
									<div class="partener-icon">

									<a href="pdf/Development Partner Application Form 2.docx" target="_blank"><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button> </a>                                  </div>
								</div>
								
							<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Other associations</h3> 
									</div>
									<div class="partener-icon">

									<a href="Other Association Application Form.docx" target="_blank" download><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button></a>
                                   </div>
								</div>


				<!--End-slider-script-->
			</div>
		</div>	
	</div>	
	<!--//pricing-->   	

</div>
    <!-- footer -->

  <div ng-include="'views/footer.html'"></div>

