<div class="baner-product">
	
	<!--/banner-info-->
	  <div class="header">
		<div class="w3-agile-logo">
			<div class="container">
				<div class=" head-wl">
					<div class="headder-w3">
						<h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
					</div>

					<div class="w3-header-top-right-text">
						<!-- <h6 class="caption"> Contact Us</h6>
						<p>(111)+245 245 66</p> -->
					</div>

					<div class="email-right">
						<!-- <h6 class="caption">Email Us</h6>
						<p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

					</div>


					<div class="agileinfo-social-grids">
						<h6 class="caption">Toll Free Number</h6>
						<ul>
							<li><a href="#"><strong>18002707755</strong></a></li>
							
						</ul>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
				
		</div>
	
        <div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
	
	<!-- //header -->
	<div class="container">
			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>

				<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pointer">

						 <li ><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li><a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li class="active"><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>

<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li ><a   ui-sref="contact">Contact Us</a></li>


					</ul>
				</div>
			
			</div>
			<div class="clearfix"> </div>
			</nav>	
		</div>
	  </div>
		<div class="w3-banner-head-info">

				<div class="container">
																				<h3 class="heading-agileinfo-news">Partner with Us
<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
<!-- About us -->
	<div class="about-3 container">
<!-- 		<div class="container">
 -->			<div class="d-flex">
				<div class="about5">
					
				</div>
				<div class="about1 product"> 

	
					<p>Partner with us in our mission of providing exponentially increased access to medicines for everyone. Getting there will take nothing short of a revolution.

The revolution has already begun humbly and silently, it’s perhaps a once in a lifetime opportunity to make a difference to your society and nation. An opportunity to etch your name in history, to be recognized for the good you bring to people of our great nation. Ours is a large country with a huge population, with diverse and continuous needs. We see an opportunity to serve people relentlessly, and wish that you support us by becoming our partners. Your time may have arrived, to be seen as giving back to the nation what you’ve drawn from it. Good deeds bring good wishes and in this case good wishes of millions.

To join us in our ambition to serve the country, please fill in the required details in the forms below:</p>



							</div>
				
			</div>
			
<!-- 		</div>
 -->	</div>
	<!-- //About us -->
	
	</div>
 <div class="w3ls-section wthree-partner">	
		<div class="container">
					  <div class="col-sm-12 "> 	

			<div class="pricing-grids-info">

								<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Sub franchisee / Retail outlets </h3> 
									</div>
									<div class=" partener-icon">

									<a href="https://docs.wixstatic.com/ugd/f1c944_d907afc7fd794223a50d65dd16eb6255.pdf" target="_blank"><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button> </a>                                 </div>
								</div>
								<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Development partners</h3> 
									</div>
									<div class="partener-icon">

									<a href="https://docs.wixstatic.com/ugd/f1c944_fced0e199e694a749930934aadc6f6f7.pdf" target="_blank"><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button> </a>                                  </div>
								</div>
								
							<div class="partner-grid grid-three col-sm-4">
									<div class="w3ls-top h3-partener">
										<h3>For Other associations</h3> 
									</div>
									<div class="partener-icon">

									<a href="https://docs.wixstatic.com/ugd/f1c944_001f20cd1aa5463d811bf3dcbb038439.pdf" target="_blank" download><button type="button" class="btn btn-primary">Download
<i class="fa fa-download" aria-hidden="true"></i></button></a>
                                   </div>
								</div>


				<!--End-slider-script-->
			</div>
		</div>	
	</div>	
	<!--//pricing-->   	

</div>
    <!-- footer -->

    <!-- footer -->
    <footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
                       <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                
                                <ul>

 <div class="footerp"> 
                                 <img src="images/logo.png" class="img-responsive img-1">

                                
                               <img src="images/sga-logo2.png" class="img-responsive img-2">
                                </div>
                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Explore</h1>
                                
                                <ul>
 <li ><a  ui-sref="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a   ui-sref="aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                        <li><a   ui-sref="product"><i class="fa fa-angle-double-right"></i>Our Products</a></li>
                        <li><a   ui-sref="quality"><i class="fa fa-angle-double-right"></i>Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us"><i class="fa fa-angle-double-right"></i>Partner With Us</a></li>
                        <li><a   ui-sref="article"><i class="fa fa-angle-double-right"></i>Articles</a></li>




                               <!--   <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li> -->
                                </ul>
                    
              </li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
               
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <ul>

<ul class="address">
<li><i class="fa fa-map-marker" aria-hidden="true"></i>
Corporate Office :
<p>13 th Floor, Pearl Best <br>Heights-1, Netaji Subhash<br> PlacePitampura, New Delhi - 110 034</p>
</li>

 <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>

                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Social</h1>
                                
                               
                                
                                <div class="social-icons">
                                
                                  <ul class="nomargin">
                                    
                <a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
              <a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>

             <!--  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                     -->
                                    </ul>
                                </div>
                        </li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

© 2018 stayhappi.in All rights reserved
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">
<!-- 
           <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a> -->

        </div>

      </div>

    </div>

  </div>

</div>
    <!-- //footer 
    <!-- //footer -->

    

