
<!--/main-header-->
<div class="baner-product" >
	
	<!--/banner-info-->
	  <div class="header">
		<div class="w3-agile-logo">
			<div class="container">
				<div class=" head-wl">
					<div class="headder-w3">
						<h1><a  ui-sref="home"><img src="images/logo.png" class="img-responsive"/></a></h1>
					</div>

					<div class="w3-header-top-right-text">
						<!-- <h6 class="caption"> Contact Us</h6>
						<p>(111)+245 245 66</p> -->
					</div>

					<div class="email-right">
						<!-- <h6 class="caption">Email Us</h6>
						<p><a href="mailto:mail@example.com" class="info"> info@example.com</a></p> -->

					</div>


					<div class="agileinfo-social-grids">
						<h6 class="caption">Toll Free Number</h6>
						<ul>
							<li><a href="#"><strong>18002707755</strong></a></li>
							
						</ul>
					</div>

					<div class="clearfix"> </div>
				</div>
			</div>
				
		</div>
		<div class="top-nav">
		<div class="top-nav" style="display: relative;">
        <nav class="navbar navbar-default navbar-fixed-top w3-post-nav-menu" >
	<!-- //header -->
	<div class="container">
			<div class="navbar-header">
	   			 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
                </button>
              </div>

				<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav pointer">

             <li ><a ui-sref="home">Home</a></li>
                        <li><a   ui-sref="aboutus">About Us</a></li>
                        <li class="active"> <a   ui-sref="product">Our Products</a></li>
                        <li><a   ui-sref="quality">Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us">Partner With Us</a></li>
                        <li><a   ui-sref="article">Articles</a></li>
                                                <li><a   ui-sref="store">Store</a></li>

<!--                         <li><a   ui-sref="news">Updates</a></li>
 -->                        <li ><a   ui-sref="contact">Contact Us</a></li>


          </ul>
				</div>
			
			</div>
			<div class="clearfix"> </div>
			</nav>	
		</div>
	  </div>
	</div>
		<div class="w3-banner-head-info">

				<div class="container">
																				<h3 class="heading-agileinfo-news">Our Products
<span></span></h3>



				</div>
</div>


			<!--/banner-info-->
</div>
 <!--/banner-section-->
 <!---728x90--->
 <!-- About us -->
	<div class="about-3">
<!-- 		<div class="container">
 -->			<div class="container">
				
				<div class=" product col-sm-12" > 


						<h3 class="heading-agileinfo-copy" >Allopathic Medicines<span></span></h3>
						
	             <img src="images/Allopathic1.png" class="img-responsive img-adjust">
	            
					<p>Allopathic medicine, or allopathy, is the most common approach to medical treatment across the world and a popular one in India as well. The majority of the essential and life-saving drugs in modern healthcare fall under this category. Better availability of quality allopathic medicines at reasonable price will be instrumental in improving the access to medicine for everyone in the country. It is for this reason that we are going to provide high quality generic medicine, so that people get the best allopathic medicines at the least price possible. We are going to provide a complete range of high quality allopathic medicines across all major therapeutic segments at affordable prices. </p>
<p>StayHappi Stores will have allopathic medicines of the following therapeutic segments:

</p>
	
</div>
</div>

  					</div>
  						             <div class="container padding-adjust">

	<div class="  col-sm-12 table-responsive" > 
<div style="overflow-x:auto;">
<table class="table tb-product table-hover ">
 
    <tbody>
      <tr scope="col" style=" font-weight: 500; color: #000;">
         <td >Antibiotics</td>
        <td>Cough & Cold Preparations</td>
        <td>Paediatrics</td>
      </tr>
      <tr style=" font-weight: 500; color: #000;">
        <td>Anti Hypertensives</td>
        <td>Pain Management</td>
        <td>Pre & Probiotics</td>
      </tr>      
      <tr  style="font-weight: 500">
        <td>Anti-amoebics</td>
        <td>Geriatric Care</td>
        <td>Dermatological</td>
      </tr>
      <tr style="  font-weight: 500; color: #000;">
        <td>CVS and Dyslipidaemia</td>
        <td>Respiratory</td>
        <td>Ophthalmic</td>
      </tr>
      <tr  style="font-weight: 500">
        <td>Hormones</td>
        <td>Gastrointestinal Tract (GIT)</td>
        <td>Antiepileptic</td>
      </tr>
      <tr style="  font-weight: 500; color: #000;">
        <td>CNS</td>
        <td>Urological</td>
        <td>Anti diabetics</td>
      </tr>
      <tr  style="font-weight: 500">
        <td>Antipyretics</td>
        <td>Gynaecology</td>
        <td>Sedatives  / Hypnotics</td>
      </tr>
    </tbody>
  </table>	
  </div>
</div>
</div>
				
	

	<!-- //About us -->
	<div class="about-3">
<!-- 		<div class="container">
 -->			<div class="container">
				
				<div class="about1 product adjust-product col-sm-12" > 
  						           
						<h3 class="heading-agileinfo-copy" >Ayurvedic, Herbal Medicines and Nutraceuticals<span></span></h3>
	<img src="images/ayurvedic1.png" class="img-responsive img-adjust">

					<p>Ayurvedic medicine is one of the world’s oldest medical systems. It originated in
India more than 3,000 years ago and remains one of the country’s traditional
health care systems. It promotes the use of herbal compounds, special diets,
and other unique health practices to manage diseases and illnesses.</p>
<p>
StayHappi Stores provide Ayurvedic Medicines as well, to complete the basket
of healthcare and cater to people who have an affinity towards Ayurvedic and
Herbal Medicines. Our Ayurvedic Product Range covers the following segments:
Respiratory, Cough and Cold, Rejuvenating Agent, Liver Support, Memory
Support, Anti-inflammatory, Arthritis Support, Laxative, Skin Health, Tonics,
Digestive Aid, Circulation Support, Blood Sugar Support, etc.</p>
<p>
Prevention of diseases is as important as their treatment. For overall wellness,
it is imperative that we take the right nutrition, which gives us strength to
combat any ailment. Nutritional Supplements with health benefits are called
Nutraceuticals. These are products derived from food sources that are
purported to provide extra health benefits, in addition to the basic nutritional
value found in foods. The demand for Nutraceuticals is on a surge and StayHappi provides these products as well.</p>

                       </div>
                   </div>
							</div>
				
	
<hr>

	<!-- //About us -->
	<div class="about-3">
<!-- 		<div class="container">
 -->			<div class="container">
				
				<div class="about1 product adjust-product col-sm-12" > 
  						            
	<h3 class="heading-agileinfo-copy" >OTC, Consumables and
Cosmetics<span></span></h3>

	<img src="images/cosmetics.png" class="img-responsive img-adjust">
	        
					<p>Over-the- counter (OTC) drugs are medicines sold directly to a consumer
without a prescription from a healthcare professional, as opposed to
prescription drugs, which may only be sold to consumers possessing a valid
prescription. We will provide OTC products as well to complete the entire
basket of products for the customer.</p>
<p>Apart from this, medical consumables and cosmetics will also be available at
StayHappi Stores. StayHappi will be a one-stop shop for our customers’
healthcare and wellness needs. </p>
                 </div>
             </div>
							</div>
				
	





<hr>



	<!-- //About us -->
	<div class="about-3">
<!-- 		<div class="container">
 -->			<div class="container">
				
				<div class=" product col-sm-12"> 
  						           
						<h3 class="heading-agileinfo-copy" >Surgical Items and Medical
Devices<span></span></h3>

		<img src="images/equipments.png" class="img-responsive img-adjust">
					
					<p>Surgical Items for medical purpose and medical devices such as diagnostic kits will also be available at StayHappi Stores. We wish to bring affordable, quality healthcare for all, at the same time offer a complete solution to our customers, so that they can buy everything at one place. Just like our medicines, our other medical and diagnostic equipment will be of high quality and will be made available at reasonable and affordable prices, keeping in mind our purpose to benefit everyone with our initiative.
     </p>
  </div>
</div>


							</div>
				
		



<hr>


















    <!-- footer -->
    <div class="footer_top_agileits">

    <!-- footer -->
    <footer class="footer1">
<div class="container">

<div class="row"><!-- row -->
                       <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                
                                <ul>

 <div class="footerp"> 
                                 <img src="images/logo.png" class="img-responsive img-1">

                                
                               <img src="images/sga-logo2.png" class="img-responsive img-2">
                                </div>
                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Explore</h1>
                                
                                <ul>
 <li ><a  ui-sref="home"><i class="fa fa-angle-double-right"></i>Home</a></li>
                        <li><a   ui-sref="aboutus"><i class="fa fa-angle-double-right"></i>About Us</a></li>
                        <li><a   ui-sref="product"><i class="fa fa-angle-double-right"></i>Our Products</a></li>
                        <li><a   ui-sref="quality"><i class="fa fa-angle-double-right"></i>Our Quality</a></li>
                        <li><a   ui-sref="partner-with-us"><i class="fa fa-angle-double-right"></i>Partner With Us</a></li>
                        <li><a   ui-sref="article"><i class="fa fa-angle-double-right"></i>Articles</a></li>




                               <!--   <li><a  href="#"><i class="fa fa-angle-double-right"></i> About Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Contact Us</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Success Stories</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> PG Courses</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i> Achiever's Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Regular Batch</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Test & Discussion</a></li>
                                    <li><a  href="#"><i class="fa fa-angle-double-right"></i>  Fast Track T & D</a></li> -->
                                </ul>
                    
              </li>
                            
                        </ul>
                         
                      
                </div><!-- widgets column left end -->
                
                
                
               
                
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column left -->
            
                <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contact Detail </h1>
                                
                                <ul>

<ul class="address">
<li><i class="fa fa-map-marker" aria-hidden="true"></i>
Corporate Office :
<p>13 th Floor, Pearl Best <br>Heights-1, Netaji Subhash<br> PlacePitampura, New Delhi - 110 034</p>
</li>

 <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@stayhappi.in</a></li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>18002707755</li>
 <li><i class="fa fa-phone" aria-hidden="true"></i>011 40395204</li>

                      
                    
                </ul>
                     
                      
                </div><!-- widgets column left end -->
                
                
                <div class="col-lg-3 col-md-3"><!-- widgets column center -->
                
                   
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                          <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Social</h1>
                                
                               
                                
                                <div class="social-icons">
                                
                                  <ul class="nomargin">
                                    
                <a href="https://www.facebook.com/stayhappi.in/" target="_blank"><i class="fa fa-facebook-square fa-3x social-fb" id="social"></i></a>
              <a href="https://twitter.com/SGunaushdhi" target="_blank"><i class="fa fa-twitter-square fa-3x social-tw" id="social"></i></a>

             <!--  <a href="https://plus.google.com/+Bootsnipp-page"><i class="fa fa-google-plus-square fa-3x social-gp" id="social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i class="fa fa-envelope-square fa-3x social-em" id="social"></i></a>
                                     -->
                                    </ul>
                                </div>
                        </li>
                          </ul>
                       </div>
                </div>
</div>
</footer>
<!--header-->

<div class="footer-bottom">

  <div class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="copyright">

© 2018 stayhappi.in All rights reserved
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="design">
<!-- 
           <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a> -->

        </div>

      </div>

    </div>

  </div>

</div>
    <!-- //footer 
    <!-- //footer -->
