


<div class="baner-product" ng-controller="quality">
	
	    <div ng-include="'views/header.html'"></div>

		<div class="w3-banner-head-info">

				<div class="container">
																				<h3 class="heading-agileinfo-news">Our Quality
<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->
<!-- About us -->
	<div class="about-3 container">
<!-- 		<div class="container">
 -->			<div class="d-flex">
				
				<div class="about1 product"> 

	
					<p>The Company believes that the products will rule the market only when they conform to the quality requirement of every customer – first time and every time, meeting world-class standards.</p>

<p>All our manufacturing partners’ units are WHO-GMP certified and / or have US-FDA approvals apart from other national and international approvals.  Our manufacturing partners have impeachable adherence to Good Laboratory Practice (GLP), Good Manufacturing Practice (GMP), Standard Operating Systems (SOP) validated manufacturing processes, product stability, equipped with latest testing, Laboratory and R & D equipment, supported by SAP system and LIMS software for manufacturing, accounting and quality control. Quality is managed under the supervision of best talented QA & QC personnel.  Quality Control laboratories have NABL approval; and R&D units are DSIR approved.</p>


<p>Our dedication to quality is uncompromising with regard to quality of raw material, processes, testing; consistent development of technology, drug delivery system and packaging. Our products have unmatched quality standards satisfying norms of international standards.</p>


							</div>
				<div class="about3">
					
				</div>











			</div>
<div class="container c2-qaul">
			   <div class=" col-sm-6  qual-2">
             	
             	<img src="images/qual-2.png" class="img-responsive">
             </div>

              <div class="col-sm-6 qual-content">
             	
             	

<p>Patient health is the corner stone of our dedication towards quality to make their lives better and to help them Stay Happy. When it comes to saving lives and making people healthier, what matters is the quality of medicines and its timely availability.</p>

<p>Our present manufacturing partners have a collective experience of more than three decades in the pharmaceutical space and manufacture nearly 15% of the total medicine consumption in India. 70% of India’s top brands are manufactured by our manufacturing partners.</p>

<p>Our Generic products are similar to Patented / Innovative / Branded medicines with regard to Ingredients, Bio-equivalence, Strength, Dosage Form, Administration Route, Efficacy & Safety, Purity profile and Side Effects.</p>
             </div>
</div>

<!-- 		</div>
 -->	</div>
	<!-- //About us -->
	
	</div>
<div class="wthree-mid-about">
		<div class="container">

 			<h3 class="heading-agileinfo-whit"> OUR QUALITY</h3>
 <p> The manufacturing unit of our partner are certificate with </p>
			<div class="col-md-3 col-sm-12">
			<p>US-FDA</p>
			<p>HACCPNABL</p>
			<p>ISO 9001- 2018 </p>

	       </div>


	       <div class="col-md-3 col-sm-12">
			<p> WHO-GMP </p>
			<p>NAFDAC  </p>
			<p>GLP, GMP AYUSH</p>

	       </div>


	       <div class="col-md-3 col-sm-12">
			<p>  ISO 14001-2004 </p>
			<p>ANVISA     </p>
			<p>ISO 22000 : 2005 </p>
	       </div>

	       <div class="col-md-3 col-sm-12">
			<p> ISO 17025-2005 </p>
			<p> US-NSF     </p>
			<p> Food Safety System : 1999</p>
	       </div>
	   </div>
  </div>


	      
	   </div>




  </div>


<!-- footer -->
  <div ng-include="'views/footer.html'"></div>