

<div class="baner-product" ng-controller="store">
	
	   <div ng-include="'views/header.html'"></div>

		<div class="w3-banner-head-info">
				<div class="container">
				   																				<h3 class="heading-agileinfo-news">Store<span></span></h3>



				</div>
       



		</div>
</div>
 <!--/banner-section-->

 <div class="container">
	<div class="col-sm-12">
<section class="c-card col-sm-3" ng-repeat="x in content | filter:paginate">
 <div class="c-card__img">
    <img src="admin/Local_FS/store/{{x.Image}}" class="img-responsive">
  </div>
  <div class="c-card__texts">
   
    <hr>
    <div class="p-40" style="        /*overflow: auto;*/

">
      <ul >
        <li class="service ">


          <span class="service__headline"><i class="fa fa-map-marker"></i>
      <a style="    color: #4ab449;">{{x.address}}</a> <br>
     <p ng-bind-html="x.re_address"></p> 
  </span>
          </li>
        <li class="service">
          <span class="service__headline"><i class="fa fa-envelope"></i>
   {{x.email}}</span>
        </li>
        <li class="service">
          <span class="service__headline" style="font-weight: 700"><i class="fa fa-phone-square"></i>   {{x.phone}}

</span>
        </li>
   



   <li class="service class-active">
          <span class="service__headline">  
 <a href="{{x.location}}" target="_blank"><button type="button" class="btn btn-warning" style=" margin: 0px 85px;"><i class="fa fa-map-marker"></i> View Direction</button></a>

</span>
        </li>

</ul>

</span>
        </li>
      </ul>
    </div>
  </div>
</section>
			



				<div class="col-sm-12">
                  <nav ng-show="content.length!=0">
						
<pagination total-items="totalItems" ng-model="currentPage"
          max-size="5" boundary-links="true"
          items-per-page="numPerPage" class="pagination-sm">
        </pagination>

					</nav>
             </div> 

			 <div class="clearfix"> </div>
			</div>
			</div>


</div>





<hr>

    <!-- footer -->
  <div ng-include="'views/footer.html'"></div>